* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
}

header {
   background-color: #1a1a1a;
   color: #ffffff;
   padding: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   nav ul {
      list-style: none;
      display: flex;
      gap: 15px;
      li {
         padding: 10px 15px;
         cursor: pointer;
         transition: background-color 0.3s ease, color 0.3s ease;
         &:hover {
            background-color: #ffffff;
            color: #1a1a1a;
            border-radius: 5px;
         }
      }
   }
   p {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
   }
}


footer {
   background-color: #1a1a1a;
   color: #ffffff;
   padding: 10px 20px;
   text-align: center;
   nav ul {
      list-style: none;
      display: flex;
      gap: 15px;
      li {
         padding: 10px 15px;
         cursor: pointer;
         transition: background-color 0.3s ease, color 0.3s ease;
         &:hover {
            background-color: #ffffff;
            color: #1a1a1a;
            border-radius: 5px;
         }
         
      }
   }
}

footer nav ul {
   justify-content: center;
   display: flex;
   gap: 15px;
}
